.Tache {
  // cursor: pointer;
  // user-select: none;
  color: #090;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted #999;
  padding: 10px;
  position: relative;

  &:last-of-type {
    border-bottom: none;
  }

  &.completee {
    opacity: 0.7;

    // Appliquer les règles suivantes uniquement à la première tâche complétée.
    // En date de cet exercice, il n'existe pas en CSS quelque chose comme 
    // elt:first-of-class(), alors on utilise une astuce ciblant tous les
    // éléments qui ont la classe 'completee', puis on supprime les effets
    // de ces règles pour tous les éléments frères (sibling) du premier.
    // Voir : https://stackoverflow.com/a/8539107/2462031
    border-top: brown 1px dotted;
    margin-top: 5px;
    ~ .completee {
      border-top: none;
      margin-top: 0;
    }

    &:first-of-type {
      border-top: none;
    }

    .texte, .date {
      text-decoration: line-through;
      opacity: 0.3;
      color: #900;
    }  
  }

  .texte {
    flex-grow: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;

    &:hover{
      cursor: pointer;
      position: absolute;
      width: 84%;
      margin-left: 28px;
      z-index: 10;
      display: inline-block;
      //background-color: #dfd;
      background-color: #fff;
      border: 1px solid #888;
      border-radius: 3px;
      padding: 10px;
      overflow: visible; 
      white-space: normal;
    }
  }

  .date {
    padding: 0 10px;
    font-size: 0.9em;
    white-space: nowrap;
  }

  .MuiSvgIcon-root {
    font-size: 1em;
  }
}